.navigationBar{
	background-color: #fff;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	padding: .25em 1em;
	z-index: 997;
}

.navigationBarContainer{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
button.navigationBarItem {
	background-color: aquamarine;
	border-radius: 4px;
	font-size: 16px;
	margin: 0 .5em;
	padding: .5em .75em;
}
.navigationBarItem.menuButton {
	flex-basis: 50%;
}
.navigationBarItem.searchButton,
.navigationBarIte.upButton {
	flex-basis: 25%;
}
