* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}
button {
  border: none;
  background: transparent;
}

.Grid-Comic {
	display: grid;
	grid-gap: 12px;
	grid-template-columns: 50% 50%;
	z-index: 1;
	position: relative;
	margin: .25em 0 1.5em 0;
}